:root {
  --header-height: 3rem;
  --header-padding-left: 54px;
  --side-nav-width: 220px;
  /* Default background for light theme (this can be overridden in theme-light) */
  --background-gradient: linear-gradient(
    90deg,
    #ffffff 0%,
    #f9fcfe 50%,
    #f0f9ff 100%
  );

  --canvas-panel-bg: var(--snow-colors-grey-900);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  background: var(--snow-colors-neutral-0);

  color: var(--snow-colors-neutral-1000);
  -webkit-overflow-scrolling: touch;

  svg {
    width: 1rem;
  }
  main {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
  }
}

/* Light Theme */
.theme-light {
  --background-gradient: linear-gradient(
    90deg,
    #ffffff 0%,
    #f9fcfe 50%,
    #f0f9ff 100%
  );
  --canvas-panel-bg: var(--snow-colors-grey-900);
}

.theme-dark {
  --background-gradient: var(--snow-colors-neutral-0);
  --canvas-panel-bg: var(--snow-colors-grey-50);
}
